

:root {
  --primary-color:#212121;
  --text-color:#757575;
  --accent-color:#2196F3;

}


/* основной цвет текста #212121 */
/* второй цвет текста 
#757575 */
/* белый цвет текста #FFFFFF */
/* цвет акцента #2196F3 */

body {
  background-color: #ffffff;
font-family: 'Roboto', sans-serif;
color: var(--primary-color);
}
.list {
  text-decoration: none;
}
.link {
  list-style: none;
}


.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}
/* logo end */
.menu-link {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit
 }
.menu-link-activ {
  color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus,
.mailto-link:hover,
 .mailto-link:focus {
  color: var(--accent-color);
}
.mailto-link {
  
font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color:var(--text-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color:var(--text-color);
}
/* ====hero section==== */
.hero-title {
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.modal-btn {
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* identical to box height, or 187% */

 cursor: pointer;

  color: #ffffff;
  background: var(--accent-color);
}
/* =====END HERO===== */
.advantages {

}
.advantages-list {

}

.advantages-list-title {
 
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

 
}
.advantages-text {

  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.scills-title {
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

 }
 /* =========КОМАНДА team======== */
 .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

}

.team-names {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  
  letter-spacing: 0.03em;

  
}

.team-professions {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

 
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* ===========FOOTER============== */
.logo-footer {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.address-post {
  

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: #ffffff; */
}
.address-tel,
.address-mail {
  

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}
 

.work-menu {
}
.work-menu-btn {
    
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-color);
  background: #2196f3;
  cursor: pointer;
    
}
.client-title {
  

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.client-order {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.logo-studio-footer {
  /* color: #ffffff; */
}
